



.text-primary {

    color: #00173A !important;


}

h1 > img {

    width: 110px;

}

a.navbar-brand img  {

    width: 90px;

}

.bg-primary {

background-color: #00173A !important;


}



.dropdown-item:hover {

background-color: #00173A ;
color: rgb(250, 242, 242);

} 


 .navbar-nav .nav-link {
    color: rgb(224, 221, 221) !important;
}



.navbar-nav .nav-link:hover {
    color: #6BDBCF !important;

}

.text-white {

    color: rgb(226, 226, 226) !important;

}

    

  .seznam >  li a {

color: rgb(226, 226, 226) !important;
text-decoration: none !important;
}
  
footer li {

    list-style: none !important;


}

li a:hover {

    color: #6BDBCF !important;
    
    }

 

/* pro responsivní videa */

.box { 

position:relative;
width: 100%;
padding-bottom: 75%; /*tato hodnot určuje poměr, 4:3 */

}


.box iframe { 

position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;

  }

  footer {
    height: 140px !important;
    bottom: 0 !important;
  }


  
  .modal-body > p a:hover {

    color: #6BDBCF !important;


  }
  
  .modal-body > p a {

    color: black; 
    text-underline-offset: 1;
  }

  .btn-primary {


    background-color: #00173A !important;




  }

body {
  background-image: url("../img/bg.png") !important;
  background-repeat: repeat !important;
  background-color: rgb(217, 217, 220) !important;
  background-size: 550px;
}



  main li {

    padding-top: 10px;

  }


  
  
  .mt-6 {

margin-top: 142px !important;

  }
  
  .thead-gray {
background-color:#00173A !important;
color: white;
  }

  .btn:hover {
    color: #6BDBCF !important;

  }

  .ml-10 {
margin-top: 5px;
margin-left: 350px;


  }




  #minus {
    list-style: none;
    padding: 0;
  }
  #minus  li {
    padding-left: 1.3em;
  }
  #minus li:before {
    content: "\f068"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; 
    width: 1.3em; 
  color: red;
  }

  #plus {
    list-style: none;
    padding: 0;
  }
  #plus  li {
    padding-left: 1.3em;
  }
  #plus li:before {
    content: "\f067"; 
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; 
    width: 1.3em; 
  color: green;
  }

  .mt-7 {

margin-top: 180px;

  }


 h4 a {

  color: black !important;


 }
 
 h4 a:hover {

  color: #6BDBCF !important;
text-decoration: none;



 }

 .dropdown-toggle::after {
  content: none;
}

.img:hover {
  height: 105% !important;
  width: 105% !important;
  border: 3px solid #00173A !important;
  border-radius: 20px !important;

  

}

.footer {
  margin-top: 160px !important;
  
}

header {
  height: 200px !important;
}

.border {
  border-style:double solid !important;
  border-width: 5px !important;
  border-color: #6BDBCF white  !important;

}